:root {
  --primary-white-color: #ffffff;
  --tittle-text-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
}

h3 {
  color: var(--tittle-text-color);
}

p {
  color: var(--text-color);
}

/* Header */

.logo {
  color: var(--tittle-text-color);
}

.logo {
  color: var(--tittle-text-color);
}

.logo span {
  color: var(--accent-color);
}
/* Site naw */

.site_nav .link {
  color: var(--tittle-text-color);
}

.site_nav .link:hover,
.site_nav .link:focus {
  color: var(--accent-color);
}

.site_nav .link.current {
  color: var(--accent-color);
}

.contact .mail,
.phone {
  color: var(--text-color);
}

.contact .mail:hover {
  color: var(--accent-color);
}

/* Примеры */

.button {
  color: var(--tittle-text-color);
}

.button.current {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

/* Footer */
.footer {
  background-color: #2f303a;
}

.footer .logo {
  color: #ffffff;
}

.footer .logo span {
  color: var(--accent-color);
}

.location {
  color: #ffffff;
}

.mail,
.tel {
  color: rgba(255, 255, 255, 0.6);
}
